@model DateTime

@{
    ViewData["Title"] = "Index";
    DateTime nextYear = new DateTime(@Model.Year + 1, 1, 1);
}



@if (Model.Hour < 12)
{
    <div class="container bg-primary">
        <h2>Good Morning</h2>
    </div>
}
else if (Model.Hour < 18)
{
    <div class="container bg-primary">
        <h2>Good Afternoon</h2>
    </div>
}
else
{
    <div class="container bg-primary">
        <h2>Good Evening</h2>
    </div>
}

<h3>It is now @Model.ToShortTimeString() on @Model.ToLongDateString()</h3>
<!--<p>@DateTime.Parse("01/1/2019").Subtract(@Model).Days</p>-->
<p>There are currently @nextYear.Subtract(@Model).Days days remaining in @Model.Year</p>

<a class="btn btn-success" asp-controller="Lab4" asp-action="Waffler">Generate Waffles</a>

